<a href="https://colab.research.google.com/github/dpecher123/CGT290/blob/master/CGT290_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CGT 290 Week1
## Python Tutorial

### Jan 15, 2020
Zongcheng Chu

## 1. Basic syntax

In [0]:
# comment the code
#print('comment single line')

# comment multiple lines
# """ """

# \ separate operator
print('The United States Declaration of Independence is the\
pronouncement adopted by the Second Continental\
Congress meeting at the Pennsylvania State House in Philadelphia, \
Pennsylvania, on July 4, 1776.')

#\n start a new line
print('The United States \n Declaration of Independence')



# ; allows multiple lines of code in a single line
school_name='Purdue';website_url='http://www.purdue.edu';print(school_name,website_url)


#：indent
title='Python'

if title=='Python':
    print ('I use ',title)
else:
    print('I don\'t use',title)

The United States Declaration of Independence is thepronouncement adopted by the Second ContinentalCongress meeting at the Pennsylvania State House in Philadelphia, Pennsylvania, on July 4, 1776.
The United States
 Declaration of Independence
Purdue http://www.purdue.edu
I use  Python

## 2. Variables

In [0]:
#1. A variable name must start with a letter or the underscore character
#2 .A variable name cannot start with a number
#3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#4 .Variable names are case-sensitive (age, Age and AGE are three different variables)

# Wrong
1i='Purdue'
&title='python'

# Correct
companyName='Purdue'
companyWebsiteUrl='http://www.purdue.edu'

SyntaxError: invalid syntax (<ipython-input-9-0e4b6c98abd7>, line 3)

## 3. Operators

In [0]:
# Arithmetic operator
print('>>>>> Arithmetic operator')
a=50;b=100

print('a+b=',a+b)
print('a-b=',a-b)
print('a×b=',a*b)
print('a÷b=',a/b)
print('a%b=',a%b)
print('a//b=',a//b)
print('a**2=',a**2)
print('a**0.5=',a**0.5)


# a+=17
# print('a=a+17',a)

print('>>>>>>Comparison operator')
print('a==b:',a==b)
print('a!=b:',a!=b)
print('a>b:',a>b)
print('a<b:',a<b)


print('>>>>>>Logical operator')
if a>50 and b>60:
    print('a and b both greater than 50')
if a>=50 or b>200:
    print('bbbbbb')
    

websiteUrl='http://www.purdue.edu'
print('edu' in websiteUrl)
print('edu' not in websiteUrl)


websiteUrl='purdue'
websiteUrl2='purdue'
print('websiteUrl is websiteUrl2:',websiteUrl is websiteUrl2)

>>>>> Arithmetic operator
a+b= 150
a-b= -50
a×b= 5000
a÷b= 0.5
a%b= 50
a//b= 0
a**2= 2500
a**0.5= 7.0710678118654755
>>>>>>Comparison operator
a==b: False
a!=b: True
a>b: False
a<b: True
>>>>>>Logical operator
bbbbbb
True
False
websiteUrl is websiteUrl2: True

## 4. Assign values

In [0]:
# most common
a=100

a=b=c=100

a,b,c=99,100,101
print(a,b,c)

99 100 101

## 5. loop

In [0]:
#for loop

for i in range(5):
    print('For loop, ',i,' times run')

#while loop
i=0
while(i<15): # end the loop when i=15
    print('While loop ',i,'times run')
    i=i+1

#continue: skip the current iteration only

for i in range(5):
    if i==2:
        continue
    print('For loop, ',i,' times run')
    
    
#break: terminates the loop containing it
i=0
while True:
    print(i)
    i+=1
    print('break',i)
    if i==7:
        break
        
#pass: is a null operation -- when it is executed, nothing happens
for i in range(5):
    if i==2: 
        pass
    ######################
    else:
        print('For loop, ',i,' times run')

For loop,  0  times run
For loop,  1  times run
For loop,  2  times run
For loop,  3  times run
For loop,  4  times run
While loop  0 times run
While loop  1 times run
While loop  2 times run
While loop  3 times run
While loop  4 times run
While loop  5 times run
While loop  6 times run
While loop  7 times run
While loop  8 times run
While loop  9 times run
While loop  10 times run
While loop  11 times run
While loop  12 times run
While loop  13 times run
While loop  14 times run
For loop,  0  times run
For loop,  1  times run
For loop,  3  times run
For loop,  4  times run
0
break 1
1
break 2
2
break 3
3
break 4
4
break 5
5
break 6
6
break 7
For loop,  0  times run
For loop,  1  times run
For loop,  3  times run
For loop,  4  times run

## 6. if

In [0]:
age=32

if age>18:
    print('you are an adult!')

#if lese
if age>18:
    print('you are an adult!')
else:
    print('you are a teenage!')
    
#if elif
guess = 12

if guess > 20:
    print('>20')
elif guess > 15:
    print('>15')
else:
    print('>10')
        

# ternary if-else operator

websiteUrl='purdue.edu'
print('.edu domain') if '.edu' in websiteUrl  else print('others')

you are an adult!
you are an adult!
>10
.edu domain

## 7. String

In [0]:
# use '' or "" to initiliaze a string
url='http://www.purdue.edu'
url="http://www.purdue.edu"
print(url)

# if ' is in the content, use \
sentence='Today\'s news is not a good news'
print(sentence)


# length of the string(how many characters)
print('len:',len(url))

#iterate each character in the string
for item in url:
    print(item)
    
# locate the character by the index 
print(url[0])

# slice operation
print(url[7:22])



#concat
url='http://www.purdue'
domain = '.edu'
print(url+domain)

#find and replacae
url = 'http://www.purdue.com'
url.find('http://')
url.find('com')
print(url.replace('','edu'))
print(url)

print('--------')
#count
print(url.count('p'))


url.upper()#upper case
url.lower()#lower case

#remove space
url.lstrip()
url.rstrip()
url.strip()

s='abc'
s.isalpha() # isalpha() returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.
s.isdigit() # The isdigit() method returns True if all characters in a string are digits. If not, it returns False.

http://www.purdue.edu
Today's news is not a good news
len: 21
h
t
t
p
:
/
/
w
w
w
.
p
u
r
d
u
e
.
e
d
u
h
www.purdue.edu
http://www.purdue.edu
eduhedutedutedupedu:edu/edu/eduweduweduwedu.edupeduueduredudeduuedueedu.educeduoedumedu
http://www.purdue.com
--------
2

False

# Lab1 Homework (16 pts)

## 1. print all the numbers between 1 to 100(included) that could be divided by both 3 and 5

In [0]:
i = 0
for i in range(100):
    if i % 15 == 0:
        print(i)

## 2.  decide if a number is Palindrome number

### Palindrome number: 64546, 812218

In [0]:
num = input("Please enter a number: ")
flippedNum = num[::-1]
if flippedNum == num:
    print("This is a palindrome")
else:
    print("This is not a palindrome")

Please enter a number: 12321
This is a palindrome

## 3. Given a string, find all the letters that are identical to the first letter, keep the first the same and replace the rest with "*".

In [0]:
string = input("Please enter a string: ")
char = string[0]
newString = string[1:len(string)].replace(char, "*")
print(char + newString)

## 4. A reboncing ball rebounces each time to a height equals to one half the height of the previous bounce. If it is dropped from a height of 100 meters. Find the height after sixth bounce.

In [0]:
num = 100
for j in range(6):
    num /= 2
print(num)

1.5625